<div class="container">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="h-25">
        <p class="h2">管理者ログイン</p>
      </div>
      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
      <table class="table">
        <tbody class="table table-borderless">
          <tr>
            <td>メールアドレス </td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td> <%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="actions text-center">
      <%= f.submit "ログイン" , class: 'btn btn-primary'  %>
    </div>
    <% end %>
</div>
