<div>
  <h2>Yummy</h2>
  <p>
    ようこそyummyへ！<br>
    yummyはみんなでつくる飲食店レビューサイトです。
    例えばデートや友達との遊びで出かける機会は多いですが、おまかせで食事の場所となると決めるのは大変だと感じたことはありませんか？<br>
    特にお店選びをする際に内装がおしゃれやデート向けインスタ映えといったキーワードがあると非常に行ってみたいと興味が湧いてきますよね。<br>
    ですが、そういったコメントはレビューを開いた中に書かれてたりするため一見わかりにくいところが不便だと思うところがありませんか。<br>
    それらがパッとわかるようなサイトとなってます。<br>
    また、会員になるとレビュー投稿やコメントができるようになります。
  </p>
  <div>
    <P><%= link_to 'ゲストログイン', user_guest_sign_in_path, method: :post, class: "btn btn-info" %></P>
    <P><%= link_to "新規登録", new_user_registration_path, class: "btn btn-info" %></P>
    <P><%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %></P>
  </div>
</div>